@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

/* for featuressection div tag alignment  */
.section-p1 {
    padding: 40px 0;
}

/* For  Total Navbar  content alignment*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3e6f3;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* for 1st div tag which contain logo of website in home page */
.header-logo img {
    width: 60px;
    height: 50px;
    background-color: #e3e6f3;
    border-radius: 80px;
}

/* for 2nd div tag which contain   nav and  div tag  */
.header-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* alignment for all unordered list content in home page navbar */
.header-list-nav ul {
    display: flex;
}

/* alignment for all ordered list content in home page navbar */
.header-list-nav ul li {
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}

/* alignment for all  anchor tag content in ordered in home page navbar */
.header-list-nav ul a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
  
/* for adding hover effect and active */
.header-list-nav ul a:hover,
.header-list-nav ul a.active {
    color: #088178;
    content: " ";
}

/* for 2nd div anchor tag with fontawesome icon  */
.header-list-icon a {
    color: #1a1a1a;
    padding-left: 20px;
    transition: 0.3s ease;
}

/* for adding fontawesome icon hover effect */
.header-list-icon a:hover,
.header-list-nav ul a.active {
    color: #088178;
}

/* for hover  and active navbar list */
.header-list-nav ul a:hover::after,
.header-list-nav ul a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}



/* For hero section which located below navbar which include img at RHS and some test at LHS in home page */
#hero {
    background-image: url(hero4.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
}
/* for hero section heading styling in home page  */
#hero h4 {
    padding-bottom: 15px;
    font-size: 40px;
    color: white;
}

#hero h2 {
    font-size: 70px;
}

#hero h1 {
    color: #088178;
    font-size: 70px;
}
 /* for hero section button place at LHS in home page  */
#hero button {
    background-color: transparent;
    background-image: url(button.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 60px;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: #088178;
    padding: 14px 65px 14px 65px;
}

/* For features div tag alignment section 2 in nav bar in home page*/
 /* for feature  whole section styling */
#features {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* for feature section multiple boxes alignment styling i.e box width, text align, box shadow in home page  */
#features .f-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1 soild #cce7d0;
    margin: 15px 0;
    transition: box-shadow 0.3s ease;
}

/* for feature section multiple boxes alignment styling i.e hover all boxes in home page*/ 
#features .f-box:hover {
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);
}

/* for feature section multiple boxes alignment styling i.e all img width and marign in home page*/ 
#features .f-box img {
    width: 100%;
    margin-bottom: 10px;
}

/* for feature section all div boxes heading styling in home page */
#features .f-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    font-size: 14px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    /* This color apply only for 1st heading in feature box in home page */
}

/* for feature section 2nd box heading online order bg color in home page */
#features .f-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

/* for feature section 3rd box heading save money bg color in home page */
#features .f-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

/* for feature section 4th  box heading promotion bg color in home page*/
#features .f-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

/* for feature section 5th box heading happy sell bg color in home page*/
#features .f-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

/* for feature section 6th  box heading 24x7 support bg color in home page*/
#features .f-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

/* for featured products  styling and this styling is also applicable for new arrival due to same design and content  */
.product-section .pro-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 60px;
}

/* main heading of section  in home page*/
.product-section h1,
.product-section p {
    text-align: center;
}

/* card alignment in home page */
.product-section .product-cart {
    width: 250px;
    border: 1px solid #ebebeb;
    padding: 13px;
    margin-bottom: 30px;
    border-radius: 25px;
    position: relative;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: box-shadow 0.2s;
}

/* hover card in product section in home page*/
.product-section .product-cart:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

/* card img alignment in home page*/
.product-section .product-cart img {
    width: 100%;
    border-radius: 25px;
}

/* all card heading  and span text alignment in home page */
.product-section .product-cart span {
    color: #969696;
    font-weight: 500;
    line-height: 30px;
}

.product-section .product-cart h4 {
    font-size: 18px;
    color: rgb(41, 41, 41);
}

/* for star styling in home page*/
.product-section .product-cart .stars {
    color: #e6ae2c;
    padding: 6px 0;
}

/* for price styling in home page */
.product-section .product-cart .price {
    color: #088178;
    padding: 4px 0;
}

/* for buy icon styling  in Home page*/
.product-section .product-cart .buy-icon {
    color: #088178;
    background-color: #c7e9e75e;
    padding: 15px;
    border-radius: 50px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* for adding styling to banner located above new arrivals  in home page */
#off-banner{
    background-image: url(banner-images/b2.jpg);
    background-size: cover;
    width:100%;
    height: 40vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* for banner heading and button in home page */
#off-banner h4{
    color: #eaebf0;
}
#off-banner h2{
    color: #eaebf0;
    padding: 0 20px;
}
button.normal{
    font-size: 14px;
    font-weight: 600px;
    padding:15px 30px;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    transition: 0.2s ;
}

/* Below New arrivals */
#banners{
    margin: 0 60px;
}
/* for all heading and span tag in banner in home page */
#banners h2, h4, span{
    color:  rgb(248,248, 248);
}

/* for main div tag in banner section */
#banners .big-banners{
    display: flex;
    align-items: center;
    justify-content: center;
}

#banners .big-banners div{
    min-width: 580px;
    margin: 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px;
    background-size: cover;
    backdrop-filter: blur(8%);
}

#banners .big-banners button {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    color: rgb(248, 248, 248);
    border: 1px solid rgb(248, 248, 248);
    cursor: pointer;
    transition: 0.3s ease;
  }

#banners .big-banners div:hover button {
    background-color: #088178;
    border: 1px solid #088178;
  }
  #banners .big-banners-1 {
    background-image: url(banner-images/b17.jpg);
  }
  #banners .big-banners-2 {
    background-image: url(banner-images/b10.jpg);
  }
  #banners .small-banners-1 {
    background-image: url(banner-images/b7.jpg);
  }
  #banners .small-banners-2 {
    background-image: url(banner-images/b4.jpg);
  }
  #banners .small-banners-3 {
    background-image: url(banner-images/b18.jpg);
  }
  #banners .small-banners {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #banners .small-banners div {
    min-width: 370px;
    height: 200px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px;
    background-size: cover;
  }
  #banners .small-banners h2 {
    font-size: 25px;
  }
  #banners .small-banners h5 {
    color: #771818;
  }
  
  /* newsletter section styles */
  
  #newsletter {
    background-image: url(banner-images/b14.png);
    background-repeat: no-repeat;
    background-position: 180px;
    background-color: #041e42;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px;
  }
  #newsletter .newsletter-text h3 {
    color: white;
    font-size: 30px;
    padding: 0 0 15px 0;
  }
  #newsletter .newsletter-text h5 {
    color: rgb(151, 151, 151);
    font-size: 17px;
  }
  #newsletter .newsletter-text h5 span {
    color: rgb(216, 182, 29);
  }
  #newsletter .form input {
    padding: 20px;
    width: 350px;
    height: 56px;
    background-color: #d1d0d0;
    border-radius: 6px 0 0 6px;
    font-size: 18px;
  
    border: none;
    outline: none;
    margin-right: -4px;
    margin-top: 1px;
  }
  #newsletter .form button {
    margin-left: 0;
    padding: 20px;
    border: none;
    width: 120px;
    background-color: #088178;
    color: white;
    font-size: 17px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
  }
  
  /* footer section styles */
  
  #footer{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    padding: 75px;
    background-color: #ececec;
  }
  #footer div{
  }
  #footer p, #footer a{
    color: rgb(109, 109, 109);
    text-decoration: none;
  }
  #footer a:hover{
    color:#088178;
  }
  #footer .about a{
    display: block;
    padding:8px 0;
  }
  #footer .myaccount a{
    display: block;
    padding:8px 0;
  }
  #footer .download img{
    border: 1px solid #08817969;
    border-radius: 7px;
  }

